node_modules/
logs/
backups/
data/
dashboard/data/
fallback-data/
*.bak
*.bak%2E
*.backup_*
*-backup-*.bak
.env
.env.*
dashboard/.env
cloudflared
*.log
*.sql
*.tar.gz
*.db
*.db-shm
*.db-wal
.env-dashboard
.env-dashboard
dashboard/data/sessions/
